/*{#
vim: ft=go
*/                 // This line keeps gofmt happy
package shacl2code /*
#}
Package {{ package_name }}:
{{ disclaimer }}

SPDX-License-Identifier: {{ spdx_license }}
{{ go_package }} */

// ValidationError reports a SHACL validation failure.
type ValidationError struct {
	Property string
	Err      string
}

func (e *ValidationError) Error() string { return e.Property + ": " + e.Err }

// ConversionError reports a failed reference conversion.
type ConversionError struct {
	From string
	To   string
}

func (e *ConversionError) Error() string {
	return "Unable to convert from " + e.From + " to " + e.To
}

// DecodeError reports a SHACL decode failure.
type DecodeError struct {
	Path Path
	Err  string
}

func (e *DecodeError) Error() string {
	return e.Path.ToString() + ": " + e.Err
}

type EncodeError struct {
	Path Path
	Err  string
}

func (e *EncodeError) Error() string {
	return e.Path.ToString() + ": " + e.Err
}
