//{#
vim: ft=go
#}
//
// {{ disclaimer }}
//
// SPDX-License-Identifier: {{ spdx_license }}

package {{ package }}

type LinkState struct {
    Objs map[string]SHACLObject
    Missing map[string]bool
}

