/*{#
vim: ft=go
*/                 // This line keeps gofmt happy
package shacl2code /*
#}
Package {{ package_name }}:
{{ disclaimer }}

SPDX-License-Identifier: {{ spdx_license }}
{{ go_package }} */

import (
	"strings"
)

// IsIRI reports whether iri is a valid IRI, not a blank node.
func IsIRI(iri string) bool {
	if strings.HasPrefix(iri, "_:") {
		return false
	}
	if strings.Contains(iri, ":") {
		return true
	}
	return false
}

func IsBlankNode(iri string) bool {
	return strings.HasPrefix(iri, "_:")
}
