# {{ disclaimer }}
#
# SPDX-License-Identifier: {{ spdx_license }}
"""Generated stub for the generated Python bindings."""

from __future__ import annotations

from abc import ABC
from dataclasses import dataclass
from datetime import datetime
from enum import Enum
from typing import (
    Any,
    BinaryIO,
    Callable,
    ClassVar,
    Dict,
    Generic,
    Iterable,
    Iterator,
    List,
    Optional,
    Set,
    Tuple,
    Type,
    TypeVar,
    Union,
    overload,
)

T_PropV = TypeVar("T_PropV")


class Property(ABC, Generic[T_PropV]):
    VALID_TYPES: ClassVar[Union[Type[Any], Tuple[Type[Any], ...]]]
    pattern: Optional[str]

    def __init__(self, *, pattern: Optional[str] = None) -> None: ...
    def init(self) -> Optional[T_PropV]: ...
    def validate(self, value: Any) -> None: ...
    def set(self, value: Any) -> T_PropV: ...
    def check_min_count(self, value: T_PropV, min_count: int) -> bool: ...
    def check_max_count(self, value: T_PropV, max_count: int) -> bool: ...
    def elide(self, value: T_PropV) -> bool: ...
    def walk(
        self,
        value: T_PropV,
        callback: Callable[[Any, List[str]], bool],
        path: List[str],
    ) -> None: ...
    def iter_objects(
        self, value: Optional[T_PropV], recursive: bool, visited: Set[SHACLObject]
    ) -> Iterable[SHACLObject]: ...
    def link_prop(
        self,
        value: Optional[T_PropV],
        objectset: SHACLObjectSet,
        missing: Optional[Set[str]],
        visited: Set[SHACLObject],
    ) -> Optional[T_PropV]: ...
    def to_string(self, value: T_PropV) -> str: ...


class StringProp(Property[str]):
    def set(self, value: Any) -> str: ...


class AnyURIProp(StringProp): ...


class DateTimeProp(Property[datetime]):
    UTC_FORMAT_STR: ClassVar[str]
    REGEX: ClassVar[str]

    def set(self, value: datetime) -> datetime: ...
    def to_string(self, value: datetime) -> str: ...
    def from_string(self, value: str) -> datetime: ...


class DateTimeStampProp(DateTimeProp):
    REGEX: ClassVar[str]


class IntegerProp(Property[int]):
    def set(self, value: Any) -> int: ...


class PositiveIntegerProp(IntegerProp):
    def validate(self, value: Any) -> None: ...


class NonNegativeIntegerProp(IntegerProp):
    def validate(self, value: Any) -> None: ...


class BooleanProp(Property[bool]):
    def set(self, value: Any) -> bool: ...


class FloatProp(Property[float]):
    def set(self, value: Any) -> float: ...


class IRIProp(Property[T_PropV]):
    context: Tuple[Tuple[str, str], ...]

    def __init__(
        self,
        context: Optional[Tuple[Tuple[str, str], ...]] = None,
        *,
        pattern: Optional[str] = None,
    ) -> None: ...
    def compact(self, value: str, dflt: Optional[str] = None) -> Optional[str]: ...
    def expand(self, value: str, dflt: Optional[str] = None) -> Optional[str]: ...
    def iri_values(self) -> Iterator[str]: ...


class ObjectProp(IRIProp[Union[str, "SHACLObject"]]):
    cls: Type[SHACLObject]
    required: bool

    def __init__(
        self,
        cls: Type[SHACLObject],
        required: bool,
        context: Optional[Tuple[Tuple[str, str], ...]] = None,
    ) -> None: ...
    def validate(self, value: Any) -> None: ...
    def set(self, value: Any) -> Union[str, SHACLObject]: ...
    def walk(
        self,
        value: Optional[Union[str, SHACLObject]],
        callback: Callable[[Any, List[str]], bool],
        path: List[str],
    ) -> None: ...
    def iter_objects(
        self,
        value: Optional[Union[str, SHACLObject]],
        recursive: bool,
        visited: Set[SHACLObject],
    ) -> Iterable[SHACLObject]: ...
    def link_prop(
        self,
        value: Optional[Union[str, SHACLObject]],
        objectset: SHACLObjectSet,
        missing: Optional[Set[str]],
        visited: Set[SHACLObject],
    ) -> Optional[Union[str, SHACLObject]]: ...


class ListProxy(Generic[T_PropV]):
    def __init__(
        self, prop: Property[T_PropV], data: Optional[List[T_PropV]] = None
    ) -> None: ...
    def append(self, value: T_PropV) -> None: ...
    def insert(self, idx: int, value: T_PropV) -> None: ...
    def extend(self, items: Iterable[T_PropV]) -> None: ...
    def sort(self, *args: Any, **kwargs: Any) -> None: ...
    @overload
    def __getitem__(self, key: int) -> T_PropV: ...
    @overload
    def __getitem__(self, key: slice) -> List[T_PropV]: ...
    @overload
    def __setitem__(self, key: int, value: T_PropV) -> None: ...
    @overload
    def __setitem__(self, key: slice, value: Iterable[T_PropV]) -> None: ...
    def __delitem__(self, key: Union[int, slice]) -> None: ...
    def __contains__(self, item: Any) -> bool: ...
    def __iter__(self) -> Iterator[T_PropV]: ...
    def __len__(self) -> int: ...
    def __eq__(self, other: Any) -> bool: ...


class ListProp(Property[ListProxy[T_PropV]]):
    prop: Property[T_PropV]

    def __init__(self, prop: Property[T_PropV]) -> None: ...
    def init(self) -> ListProxy[T_PropV]: ...
    def validate(self, value: Any) -> None: ...
    def set(
        self, value: Union[ListProxy[T_PropV], Iterable[T_PropV]]
    ) -> ListProxy[T_PropV]: ...
    def check_min_count(self, value: ListProxy[T_PropV], min_count: int) -> bool: ...
    def check_max_count(self, value: ListProxy[T_PropV], max_count: int) -> bool: ...
    def elide(self, value: ListProxy[T_PropV]) -> bool: ...
    def walk(
        self,
        value: ListProxy[T_PropV],
        callback: Callable[[Any, List[str]], bool],
        path: List[str],
    ) -> None: ...
    def iter_objects(
        self,
        value: Optional[ListProxy[T_PropV]],
        recursive: bool,
        visited: Set[SHACLObject],
    ) -> Iterable[Any]: ...
    def link_prop(
        self,
        value: Optional[ListProxy[T_PropV]],
        objectset: SHACLObjectSet,
        missing: Optional[Set[str]],
        visited: Set[SHACLObject],
    ) -> ListProxy[T_PropV]: ...


class EnumProp(IRIProp[str]):
    def __init__(
        self,
        values: Optional[Tuple[Tuple[str, str], ...]] = None,
        *,
        pattern: Optional[str] = None,
    ) -> None: ...
    def validate(self, value: Any) -> None: ...


class NodeKind(Enum):
    BlankNode = 1
    IRI = 2
    BlankNodeOrIRI = 3


def is_IRI(s: Any) -> bool: ...
def is_blank_node(s: Any) -> bool: ...
@dataclass
class ClassProp:
    pyname: str
    reg: Optional[Callable[..., Any]]
    iri: str
    min_count: Optional[int] = ...
    max_count: Optional[int] = ...
    compact: Optional[str] = ...
    deprecated: bool = ...


T_SHACLObject = TypeVar("T_SHACLObject", bound="SHACLObject")


class SHACLObject:
    CLASSES: ClassVar[Dict[str, Type[SHACLObject]]]
    NAMED_INDIVIDUALS: ClassVar[Dict[str, str]]
    AUTO_NAMED_INDIVIDUALS: ClassVar[bool]
    NODE_KIND: ClassVar[NodeKind]
    ID_ALIAS: ClassVar[Optional[str]]
    IS_ABSTRACT: ClassVar[bool]
    IS_DEPRECATED: ClassVar[bool]
    TYPE: ClassVar[str]
    COMPACT_TYPE: ClassVar[Optional[str]]
    PROPERTIES: ClassVar[List[ClassProp]]

    def __init__(self, **kwargs: Any) -> None: ...
    def get_type(self) -> str: ...
    def get_compact_type(self) -> Optional[str]: ...
    def __getitem__(self, iri: str) -> Any: ...
    def __setitem__(self, iri: str, value: Any) -> None: ...
    def __delitem__(self, iri: str) -> None: ...
    def __iter__(self) -> Iterator[str]: ...
    def walk(
        self,
        callback: Callable[[Any, List[str]], bool],
        path: Optional[List[str]] = None,
    ) -> None: ...
    def property_keys(self) -> Iterator[Tuple[Optional[str], str, Optional[str]]]: ...
    def iter_objects(
        self, *, recursive: bool = False, visited: Optional[Set[SHACLObject]] = None
    ) -> Iterable[SHACLObject]: ...
    def __hash__(self) -> int: ...
    def __eq__(self, other: Any) -> bool: ...
    def __lt__(self, other: Any) -> bool: ...
    def __gt__(self, other: Any) -> bool: ...
    def __le__(self, other: Any) -> bool: ...
    def __ge__(self, other: Any) -> bool: ...


class SHACLExtensibleObject(SHACLObject):
    CLOSED: ClassVar[bool]

    def __init__(self, typ: Optional[str] = None, **kwargs: Any) -> None: ...
    def get_type(self) -> str: ...
    def get_compact_type(self) -> Optional[str]: ...
    def __getitem__(self, iri: str) -> Any: ...
    def __setitem__(self, iri: str, value: Any) -> None: ...
    def __delitem__(self, iri: str) -> None: ...
    def property_keys(self) -> Iterator[Tuple[Optional[str], str, Optional[str]]]: ...


class SHACLObjectSet:
    objects: Set[SHACLObject]
    missing_ids: Set[str]
    obj_by_id: Dict[str, SHACLObject]
    obj_by_type: Dict[str, Set[Tuple[bool, SHACLObject]]]
    context: Dict[str, str]

    def __init__(
        self, objects: Optional[Iterable[SHACLObject]] = None, *, link: bool = False
    ) -> None: ...
    def create_index(self) -> None: ...
    def add_index(self, obj: SHACLObject) -> None: ...
    def add(self, obj: T_SHACLObject) -> T_SHACLObject: ...
    def update(self, *others: Iterable[SHACLObject]) -> None: ...
    def __contains__(self, item: SHACLObject) -> bool: ...
    def link(self) -> Set[str]: ...
    def find_by_id(
        self, _id: str, default: Optional[SHACLObject] = None
    ) -> Optional[SHACLObject]: ...
    def foreach(self) -> Iterable[SHACLObject]: ...
    @overload
    def foreach_type(
        self, typ: str, *, match_subclass: bool = True
    ) -> Iterator[SHACLObject]: ...
    @overload
    def foreach_type(
        self, typ: Type[T_SHACLObject], *, match_subclass: bool = True
    ) -> Iterator[T_SHACLObject]: ...
    def merge(self, *objectsets: SHACLObjectSet) -> SHACLObjectSet: ...
    def inline_blank_nodes(self) -> None: ...
    def expand_iri(self, iri: str, default: Optional[str] = None) -> Optional[str]: ...
    def compact_iri(self, iri: str, default: Optional[str] = None) -> Optional[str]: ...


class JSONLDDeserializer:
    def deserialize_data(self, data: Any, objectset: SHACLObjectSet) -> None: ...
    def read(self, f: BinaryIO, objectset: SHACLObjectSet) -> None: ...


class JSONLDSerializer:
    def __init__(self, **kwargs: Any) -> None: ...
    def serialize_data(
        self, objectset: SHACLObjectSet, force_at_graph: bool = False
    ) -> Any: ...
    def write(
        self,
        objectset: SHACLObjectSet,
        f: BinaryIO,
        force_at_graph: bool = False,
        **kwargs: Any,
    ) -> str: ...


class JSONLDInlineSerializer:
    def write(
        self,
        objectset: SHACLObjectSet,
        f: BinaryIO,
        force_at_graph: bool = False,
    ) -> str: ...


def encode_context(encoder: Any, objectset: SHACLObjectSet) -> None: ...
def decode_context(decoder: Any, objectset: SHACLObjectSet) -> None: ...


# fmt: off
"""Format Guard{{ '"' }}{{ '"' }}{{ '"' }}
# CLASSES
{%- for class in classes %}
class {{ varname(*class.clsname) }}(
{%- if class.parent_ids %}
    {%- for id in class.parent_ids -%}
        {{- varname(*classes.get(id).clsname) }}{%- if not loop.last or class.is_extensible -%}, {% endif -%}
    {%- endfor -%}
    {%- if class.is_extensible -%}
        SHACLExtensibleObject
    {%- endif -%}
{%- elif class.is_extensible -%}
    SHACLExtensibleObject
{%- else -%}
    SHACLObject
{%- endif -%}):
{%- if class.comment %}
    {{ '"' }}{{ '"' }}{{ '"' }}
    {%- for l in class.comment.split("\n") %}
    {{ l.rstrip() }}
    {%- endfor %}
    {{ '"' }}{{ '"' }}{{ '"' }}
{% endif %}
    TYPE: ClassVar[str] = "{{ class._id }}"
    {%- if context.compact_iri(class._id) != class._id %}
    COMPACT_TYPE: ClassVar[Optional[str]] = "{{ context.compact_iri(class._id) }}"
    {%- endif %}
    NODE_KIND: ClassVar[NodeKind]
    {%- if class.id_property %}
    ID_ALIAS: ClassVar[Optional[str]]
    {%- endif %}
    {%- if class.is_abstract %}
    IS_ABSTRACT: ClassVar[bool]
    {%- endif %}
    {%- if class.deprecated %}
    IS_DEPRECATED: ClassVar[bool]
    {%- endif %}
    {%- if class.named_individuals %}
    NAMED_INDIVIDUALS: ClassVar[Dict[str, str]]

    {%- for member in class.named_individuals %}
    {%- if member.comment %}
    {%- for l in member.comment.split("\n") %}
    #{{ (" " + l).rstrip() }}
    {%- endfor %}
    {%- endif %}
    {{ varname(member.varname) }}: str
    {%- endfor %}
    {%- endif %}

    def __init__(
        self,
        {%- if class.properties %}
        *,
        {%- for prop in class.properties %}
        {%- set is_list = prop.max_count is none or prop.max_count != 1 %}
        {%- if prop.enum_values %}
        {%- set ptype = "str" %}
        {%- elif prop.class_id %}
        {%- set ptype = "Union[str, '" ~ varname(*classes.get(prop.class_id).clsname) ~ "']" %}
        {%- else %}
        {%- set ptype = DATATYPE_PYTHON_TYPES[prop.datatype] %}
        {%- endif %}
        {%- if is_list %}
        {{ varname(prop.varname) }}: Optional[Iterable[{{ ptype }}]] = None,
        {%- else %}
        {{ varname(prop.varname) }}: Optional[{{ ptype }}] = None,
        {%- endif %}
        {%- endfor %}
        {%- endif %}
        **kwargs: Any
    ) -> None: ...

    {%- for prop in class.properties %}
        {%- set is_list = prop.max_count is none or prop.max_count != 1 %}
        {%- if prop.enum_values %}
        {%- set ptype = "str" %}
        {%- elif prop.class_id %}
        {%- set ptype = "Union[str, '" ~ varname(*classes.get(prop.class_id).clsname) ~ "']" %}
        {%- else %}
        {%- set ptype = DATATYPE_PYTHON_TYPES[prop.datatype] %}
        {%- endif %}
    {{ varname(prop.varname) }}: {% if is_list %}ListProxy[{{ ptype }}]{% else %}Optional[{{ ptype }}]{% endif %}
    {%- endfor %}

{% endfor %}
{{ '"' }}{{ '"' }}{{ '"' }}Format Guard"""
# fmt: on
