{% for url in context.urls -%}
Context: {{ url }}
{% endfor -%}
{% for enum in enums %}
{{ enum._id }}: {{ context.compact_iri(enum._id) }}
{% endfor %}
{% for class in classes %}
{{ class._id }}: {{ context.compact_iri(class._id) }}
{% endfor %}
